
endpoint_add_tcp "54.39.28.110:30120"
endpoint_add_udp "54.39.28.110:30120"

# Server Slot
set onesync_enabled 1
sv_maxclients 64

set es_enableCustomData 1 
set mysql_connection_string "server=127.0.0.1;database=essentialmode;userid=root;password=%abc123%;"
#set mysql_slow_query_warning 50

set es_startingCash 2500
set es_startingBank 10000

# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.

# want to only allow players authenticated with a third-party provider like Steam?
sv_authMaxVariance 1
sv_authMinTrust 5

exec permissions.cfg

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit

# Anti cheat
add_ace resource.hg_anticheat command.sets allow # Anticheat

#Discord
add_ace resource.discord_perms command.add_principal allow
add_ace resource.discord_perms command.remove_principal allow

# Permisos Essentialmode
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

# permisos Tag
add_ace group.admin cheleber allow	                 # allow tag for admins
add_ace group.moderator cheleber allow 			 # allow tag for moderators
add_ace group.moderator cheleber.tag deny		 # disallowt tag moderators

# Permisos para reiniciar
add_ace group.restart restart.cmds allow
add_principal identifier.steam:11000010227ac1a group.restart # Sonny
add_principal identifier.steam:110000112345678 group.restart # Bestia

#Otros
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group
add_principal identifier.steam:1100001040ee50f group.admin

# remove the # to hide player endpoints in external log output
sv_endpointprivacy true

#### FIVEM DEFAULT ####
    start mapmanager
    start chat
    start spawnmanager
    start sessionmanager
    restart sessionmanager
    start fivem
    #start hardcap
    #start rconlog
    #start baseevents
    start async
    start afkkick
    start fivem-ipl

#### MYSQL ASYNC
    start mysql-async

#### ESSENTIAL MODS
    start LosOce_Cron
    start essentialmode
    start esplugin_mysql
    start es_admin2
    start es_extended
    #start screenshot-basic # Fotos para el gcphone #se agrego hoy 02/06/2019

#Recursos Prioritarios#

start Calm-Al
#start ReducedNPCs
start LosOce_TA
start CarClean
start IDsAboveHead
#start rpproject_traffic
#start rpproject_restart
#start rpproject_nombres
#start rpproject_control
start reboot
start AnnonForFxController

#CASINO SCRIPTS
start program-blackjack #desactivado testing
start program-casino #desactivado testing
start slotmachine_1 #desactivado testing
#start esx_slots #BUGGEADO
#start simpletp #desactivado testing


#### ESX REQUIRED MODS
    start instance
    #start instancedfix
    start cron
    start skinchanger
    start esx_menu_default
    start esx_menu_default2 #Menu F1 dise�o
    start esx_menu_list
    start esx_menu_dialog
    start pNotify
    start esx_addonaccount
    start esx_addoninventory
    start esx_datastore
    start esx_society
    start esx_society2 #job2
    start esx_service
    start esx_billing
    start esx_license
    start esx_identity
    start esx_gunlicense
    start esx_anticheat
    #start esx_whitelist
    start chat-style # 22-06-2019
    start chat_commands #esx_rpchat
    start esx_scoreboard
    start rpproject_vip
    start esx_kashacters #se agrego hoy 29/05/2019
    #start esx_inventoryhud             inventario drag and drop
    #start esx_inventoryhud_trunk       inventario drag and drop autos
    start SimpleCarHUD

#### ESX ANY OTHER MODS
    #start lesslethal_shotgun escopeta policia queda desactivada
    start esx_status
    start esx_basicneeds
    start esx_optionalneeds
    start new_banking
    start esx_voice
    start esx_animations
    start shtin_animation
    start esx_service
    start esx-kr-vehicle-push
    start esx_joblisting
    start esx_skin
    start esx_property
    start esx_sonny  
    start jsfour-idcard   
    start rpproject_document_shops  
    start rpproject_duty_markers  
    start gamz-skillsystem
    start vdk_call  
    start esx_addons_gcphone  
    start gcphone  
    start esx_drugs
    start LegacyFuel  
    #start esx_ecologica #esx_customui  #8/7/2019
    start allcity_wallet #Billetera #8/7/2019
    start esx_dmvschool  
    start esx_advancedgarage   ############
    start esx_jb_stopvehicledespawn  #################
    start esx-qalle-jail
    start esx_gym  
    start esx_securitycam
    start esx_repairkit  
    start esx_extraitems 
    start esx_ktackle  
    start holograms
    #start esx_gunrange
    #start esx_gunrange2
    start LEO_Training_Facility # CAMPO DE TIRO
    #start esx_vehicle_inventory  
    start esx_doorlock  
    start esx_plasticsurgery # CIRUJANO EN TEST - TRADUCIDO YA  
    start esx_thief
    start esx_AdvancedFishing
    start esx_hunting 
    start BrockALPR  
    start ESX_CommunityService 
    #start CustomHandling - HANDLING DE ERZIER
    start esx_vangelico_robbery
    start esx_borrmaskin # taladro
    start bag
    start qalle-wheelchair
    #start Tornado-Script-FiveM #TORNADO SCRIPT
    #start esx_barbie_lyftupp # PONER DESPUES
    start es_carwash
    #start esx_realweapons #GENERA LAG?
    #start holsterweapon
    #start esx_treasure #TESORO
    start esx_advanced_inventory # PESO
    start stasiek_selldrugs
    start maria-pooch
    start esx-ecobottles


    ## POR BESTIA ##
    #start esx_speedcamera #NO MULTA, REVISAR -
    start esx_jb_advanced_truck_inventory #INVENTARIO CAMIONES
    start esx_rallyjob
    start esx_jb_dj
    start ft_libs

    ### ESX JOBS
    start esx_policejob
    start esx_mechanicjob
    start esx_ambulancejob
    start esx_taxijob
    start esx_lscustom
    #start esx_mafiajob #disable
    #start esx_bikerjob #disable
    #start maildelivery #disable
    #start esx_maildelivery #disable
    start esx_pizza
    #start esx_diving # Buceo 
    #start Esx_Ocean-Salvage # Buceo - CRASH A PARTIR DE ESTE TRABAJO
    #start esx_poolcleaner Falta traduccion
    start esx-br-rob-humane # ROBO AL LABORATORIO 
    start esx_borrmaskin_humane # ROBO AL LABORATORIO 
    start esx_farmoranges # TRABAJO FARM NARANJAS
    #start esx_bennysjob # A FUTURO VER Y AGREGAR
    start esx_vigneronjob #TRABAJO VINICULTOR TESTING
    #start esx_nightclub
    start esx_miner
    start esx_lumberjack
    #start esx_cityworks
    start esx_negocio1
    start esx_hif
    

#### ESX SHOPS
    start esx_shops #Reworked 25/06/2019
    start esx-kr-advanced-shops 
    start esx_foodtruck 
    start esx_vehicleshop 
    start esx_tattooshop
    start esx_clotheshop
    start esx_weaponshop
    start esx_barbershop 
    start esx_truckshop 
    start esx_boatshop 
    start esx_accessories 
    start esx_special_shops 
    #start interactsound # EN TESTING DA LAG? SI
    start nw_bahamaMama #Abre bahama shop
    start esx_brinksjob # nuevo seguridad de banco
    start esx_aircraftshop
    start esx_DarkShops

#Trabajo Restaurante
    #start esx_restaurante
    #start exterior 
    start progressBars

#Hospital Pillbox

    start allcity_medical
    start PillboxHospital
    start pillbox_beds_with_heal
    start mythic_notify
    start mythic_progbar
    start mythic_hospital
    start warmenu # Necesario camillas
    start litter #CAmillas



#trabajo lifenewss / becker
    start lifenews
    start lfnewspolo
    start lfnewssprinter
    start lifenewsmaps
    

# Discord resources:
    start DiscordBot
    start discord_perms
    start DiscordRichPresence
    start DiscordWhitelist

#### ANY NON ESX MODS
    #start bob74_ipl 
    start safezone 
    start crouch 
    start FiveM_TimeAndDateDisplay 
    start bag
    start jsfour-criminalrecord 
    start RealisticVehicleFailure
    #start LockSystem
    start esx_vehiclelock  
    start TFRP_loadingscreen
    start rocademption
    start WeazelNewsCam  
    start radialmenu
    start Radiant_Animations
    start vehicle-control
    start esx_drugeffects
    start weaponry
    start esx_felfortBuffet # Buffet de Aboga3
    start esx_processmeat # Proceso de Carne
    #start esx_sexshop # Nuevo
    start knockout
    start esx_garbagecrew #basurero descativado para testing
    start esx_knatusrobberybank
    start esx_blowtorch
    start mhacking
    start mtracker
    #start sound
    start lux_vehcontrol
    start SmartTrafficLights
    start contratos
    start sawu_hookers # Prostitutas
    start CarryPeople

    start Kuzkay_Meth # LAboratorio de Meta
    
    #start heli

#Nuevo HUD
    #start mugshot
    start target
    start menu
    start speedometer
    #start skincreator
    start hungerthirst
    start esx_gps  
    start RP_Voice

#############################################################################
# Las cosas turbias.
start salty_crafting
start salty_empaque

# MAFIA / 1 
start mafia1

# MAFIA / 2

start mafia2

# BANDAS
    start esx_bikerjob1

#######################################################################
#Autos Policia
    start Ferrari_PFARG
    start Insurgent_PFARG
    start Moto_PFARG

#Autos Ambulancias

    start SMIAmbulancia

#Vehiculos Mod
    start rmodm4gts
    start pack1
    start stews_car_pack
    start packs-viejardos
    start polmp4
    start polchiron
    start polgs350 #auto policia Lexsus
    start m2
    start HYABUSADRAG
    start cooperworks
    start 370Z
    start teslax
    start r8ppi
    start dyc3db11
    start yzfr6
    start dodgeEMS

#PACK CARS
    #start fivem-functional-flatbed # para los mecanicos
    
    start ToyotaLand
    start Bentley2013
    start BentleyBen
    start BentleyMul
    start BMW_7L
    start BMW_M4
    start BMW_M5
    start BMW_M6
    start BMW_X5
    start BMW_X6
    start Bugatti_Chiron
    start Bugatti_Divo
    start Bugatti_Veyron
    start Buick1970
    start Buick1987
    start Spider
    start chevroletimpala
    start jeepsrt2015
    start mercedesamgsls
    start nissangtr2017
    start cbr1000
    start veln ## Para los founders
    start CAMRY55 ## Para los founders
    start nissantitan
    start simpresa
    start skyline
    start toyotasupra 
    start 19Z4
    start shelbygt500
    start 2013RS7 #OTAKU ERZIER
    start AMGGT3 #OTAKU ERZIER
    start na6 #OTAKU ERZIER
    start AUDIRS6TK # AUDI R6
    start URUS # Lamborghini Urus
    start G65AMG # Mercedes Benz G65AMG
    start S500W222 # Mercedes Benz S500
    #start C63W205 # BUG TEXTURAS
    #start MLBRABUS # Mercedes Brabus
    start amggt # Mercedes Benz AMG GT
    start i8 # BMW I8
    start FIESTARB # Ford Fiesta Tunning
    start FORTEK # Kia Fortek
    start 440I # BMW 440
    start ladybird6str # FUSCA
    start MercedesXClass # Porche Viejo 
    start MERS63C # Mercedes S63 C
    start 356AC # Mercedes 356 AC
    start EVO10 # Mitsubishi Evolution 10
    start F100 # Camioneta de Roque
    start 206 # Peugeot 206 sin tunning
    start 18performante
    start 18S65
    start 911turbos
    start boss429
    start crf450r
    start GRANDGT18
    #start ntypex BUG TEXTURAS
    start SENNA
    start PDRAM
    start rmodamgc63
    start rmodmustang
    start subaruimpreza 
    start amarok
    start 63LB
    start HVROD
    start 720s
    start demonhawk # Jeep Demon Hawk
    #start 70CAMAROFN # TEXTURAS BUG
    start BENSON3 # Mercedes Benz Sprinter
    #start RAM16 # NO ANDA
    #start 100MotoPack #PACK DE 100 MOTOS
    start GREENBIRD
    start 69charger 
    start pagani #Codigo bc
    start pin #Camioneta policia
    start TRAILCAT # 4x4 Estilo Jeep
    start hvrod2 # Harley 2
    start vwsava # VW SAVEIRO
    start rx7tunable # Epico
    start chall70 #Dodge Challanger 70
    start yosemite6str
    start r1 
    start catalina
    start f150 # FORD RAPTOR
    start NISMO20 # GTR NISMO 2020
    start AMV19 # ASTON MARTIN 
    start vehshare # Harley Moto Chopera
    start 180SXRB
    start BONESHAKER
    start as7
    start grua
    start whistle
    start jp12 
    start gtx
    start tampa3
    start cj7
    start kccx # Nissan Silvia 1999
    start rs4avant #S4 Audi
    start tmax
    start audirs4
    start ds3
    start fordka
    start golf7r
    start kangoo
    start trossa
    start 300srt8
    start 405slxfn
    start 964cabrio
    start e36
    
    #auto Taxista

    start taxitest




#//////////TESTING BESTIA//////////*******//////////////
    start NativeUI
    #start eup-stream #desacrivado testing ROPA POLICIA
    #start eup-ui #desacrivado testing ROPA POLICIA MENU
    start motiontext
    #start esx_handcuffs
    #start esx_rope
    start clothesmerfik #SACARSE LA ROPA 
    #start esx_weaponsync # ARMAS COMO ITEMS EN EL INVENTARIO Y SE PUEDEN EQUIPAR
    start weapons-on-back #ARMAS EN LA ESPALDA
    #start esx-blarglebus #COLECTIVERO 2.0 (TESTING Y TRADUCION) desacrivado para testing
    
    #start LP_AmmuJob
    start notepad
    start esx_documents
    start esx_bike-rental
    start 999
    start radio
    start esx_fuelerjob
    start esx_sit
    start esx_ruskiarrest

#PEDS
    start Lana
    start Peds
    start Samantha

#vMenu
    start vMenu

### MAPAS   
    start OCRPRacetrack # AGREGADO 05/06/2019
    start OCRPRacetrack_Models #AGREGADO 05/06/2019
    #start museum # MAPA DEL MUSEO
    start props
    #start italia
    start cubos
    #start policestation
    #start plaza
    start taller
    start ufc
    start felfortBuffet
    #start sexshop
    start bankprops23 # necesario para el brinksjob
    start comedyClub

    #CINE
    start hypnonema-map
    start hypnonema

    #Nuevos Mapas
    start ifeer 
    start Comisaria
    start hospital 
    start lscustoms
    start lspdloader
    start phxlsmc
    start phxlspd
    start taxistas
    #start breze_lostmc # OK
    #start ranchytd
    start Madrazohouse
    start ModernYellowJack-FiveM
    start richmap
    start familiegang
    start crimebase
    #start MalibuApartment # BUG
    #start vinewoodpolice # BUG

    #CASINO MAPA
    start cassino_props
    start ch3_additions
    start vwdlc_int_02

    start prison-map-addon #mapa de la carcel

#ROPAS
    start pack1-lucifer
    start samsetped # script para poner la ropa de samantha (solo funciona con nexride)


# arreglos 
#start nw_bahamaMama # Puertas de bahhama

#Police Cars Pack
#start unmarked-police-pack Texturas buggeadas

sv_scriptHookAllowed 0

# change this
rcon_password ""

sv_hostname "^7[^5ESP^7]^7[^6LATINO^7]^7| ^4RP ^5Project 2.0 ^7| ^8 WHITELIST ^7| ^3SCRIPTS PROPIOS ^7|"

# nested configs!
#exec server_internal.cfg

sets Discord "https://discord.gg/2p7YJpC"
sets tags "roleplay"
set gametype "roleplay"

# loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars for use from script
set temp_convar "ESX"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# license key for server (https://keymaster.fivem.net)
sv_licensekey ""